<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Potato Store Back End</title>
    <style>
        body, h1, h2, h3 {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h2>Potato Store Back End</h2>
<p>The back end is responsible for saving and retrieving the data for the
Potato Store front end. We have split the back end and front end for better flexibility.</p>
<h3>Handy links:</h3>
<ul>
    <li><a href="graphql">GraphQL API</a> – the API used by the front end</li>
    <li><a href="admin">Admin panel</a> – where the store owner can add and remove products, deals and so on<br/>&nbsp;</li>
    <li><a href="https://potato-store.herokuapp.com/">Production Back End</a> – This page, as deployed by our pipeline</li>
    <li><a href="https://tutturen.github.io/potato-store-front/">Production Front End</a> – customer-facing part of the Potato Store, as deployed by our pipeline<br/>&nbsp;</li>
    <li><a href="http://localhost:8000">Development Back End</a> – This page, when running <code>./manage.py runserver</code> locally</li>
    <li><a href="http://localhost:3000">Development Front End (if running locally on port 3000)</a><br/>&nbsp;</li>
    <li><a href="https://github.com/tutturen/potato-store-front">GitHub Repository for the front end</a></li>
    <li><a href="https://github.com/tutturen/potato-store">GitHub Repository for this back end</a></li>
</ul>

<p><em>From group 1 with love</em></p>
</body>
</html>